.vscode
.docker
.env*
!.env.example
vendor
node_modules
paapi5-php-sdk-amazon-examples
*.pem
/index.php
*.sql
robots.txt
*.zip
*.gz
*.tar
web/app/cache/*
*.log
cache
.idea
.docker
docker
assets/styles/dist
deploy.sh
